<div class="main">
  <div class="mannaka">
    <div class="cont2">
      <div class="post-left">
        <img src="<%= "/profile/top_image.jpg" %>">
        <h4 style="font-size:18px;font-weight:600;margin-top:2px;">Kazuhiro Owada</h4>
        <a href="https://twitter.com/Ochanyoroshiku" style="font-size:16px"><i class="fab fa-twitter size"></i></a><a href="https://www.instagram.com/o_style.ins" style="font-size:18px"><i class="fab fa-instagram size2"></i></a>
        <a href="https://github.com/Ochanyoro" style="font-size:18px"><i class="fa fa-github" aria-hidden="true"></i></a>
        <br>
        <div class="pro mt-2">
        <i class="fas fa-school" style="font-size:12px;"><font style="padding-left:7px;">小山高専</font></i><br>
        </div>
        <div class="pro">
        <i class="fas fa-address-book"><font style="padding-left:10px;">21 (1999)</font></i>
        </div>
        <div class="pro">
        <i class="fa fa-home" aria-hidden="true"><font style="padding-left:10px;">栃木県</font></i>
        </div>
      </div>
      <div class="post-right">
        <div class="posts-index-item">
          <i class="fa fa-tags size3" aria-hidden="true"></i><font>studying now</font><br>
          <font class="study">ruby</font>
          <font class="study">Rails</font>
          <font class="study">python</font>
          <font class="study">django</font>
          <font class="study">flask</font>
          <font class="study">jquery</font>
          <font class="study">javascript</font>
          <font class="study">css</font>
          <font class="study">bootstrap</font>
          <font class="study">c</font>
          <font class="study">java</font>
          <font class="study">Kotlin</font>
          <font class="study">awt</font>
          <font class="study">AI</font>
          <font class="study">keras</font>
          <font class="study">TensorFlow</font>
          <font class="study">RNN</font>
          <font class="study">image2vec</font>
          <font class="study">word2vec</font>
          <font class="study">sql</font>
          <font class="study">CNN</font>
          <font class="study">DeepLearning</font>
          <font class="study">English</font>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="slider mypattern">
      <%= link_to("/home/top", {method: "get"}) do %>
        <img src="<%= "/header/1.jpg" %>">
      <% end %>
      <img src="<%= "/header/2.jpg" %>">
      <%= link_to("/home/profile", {method: "get"}) do %>
        <img src="<%= "/header/3.jpg" %>">
      <% end %>
      </div>
    </div>
    <div class="title">
      <h6>My Profile</h6>
      <img src="<%= "/irasuto/panda.jpg" %>">
    </div>



    <div class="line__container">
      <div class="line__contents">
        <!-- 相手の吹き出し -->
        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">自己紹介をお願いします</div>
          </div>
        </div>
        <!-- 自分の吹き出し -->
        <div class="line__right">
          <div class="text">空前絶後のォォ！！！！超絶怒涛のプログラマァ！！！ "Error"を愛しッ！！"Error"に愛された男ォオオ！！！ "SyntaxError"、"NameError"、"TypeError"、すべてのError産みの親ァ！！！
            そう我こそはアァ ！！ オヤマコーーセﾝ！！ザイ!!ガクッ！！デンキデンシソウゾウコウガクコーーース！！！オオワダッ！カズヒロぉぉぉぉ！！イェェェエエエーーーーーイッ！！！ジャスティス！！！！！
          </div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">...クセがすごいんジャッッ<br>お笑い芸人にでもなるつもりなんか??</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">はい。ありがとうございました</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">和田アキ子</div>
            <div class="text">あなたは何をされてる方なの?</div>
          </div>
        </div>

        <div class="line__right">
          <div class="text">ﾊｲ,ﾜﾀｼﾊｵﾔﾏｺｳｾﾝﾃﾞﾃﾞﾝｷｶｲﾛﾔﾂｳｼﾝ,ﾃﾞﾝｼﾞｷ,ﾌﾟﾛｸﾞﾗﾐﾝｸﾞﾅﾄﾞﾃﾞﾝｷﾆｶﾝｽﾙﾌﾞﾝﾔｦﾍﾞﾝｼｮｳｼﾃｲﾏｽ.ｶﾞｯｺｳﾃﾞﾊﾌﾟﾛｸﾞﾗﾐﾝｸﾞｦｽﾙｷｶｲﾊｽｸﾅｲﾉﾃﾞｽｶﾞ
          ｼﾞﾌﾞﾝﾃﾞｳｪﾌﾞｲﾄｦﾂｸﾙｺﾄｶﾞｽｷﾅﾉﾃﾞｼﾞｶﾝｶﾞｱﾚﾊﾞﾄﾞｸｶﾞｸﾃﾞｳｪﾌﾞﾔﾃﾞｰﾀﾍﾞｰｽﾆｶﾝｽﾙﾍﾞﾝｷｮｳｦｼﾃｲﾏｽ</div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">...宇宙人にでも喉を乗っ取られてるんか??大事な面接ぞ!!落とされるわ</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">はい。ありがとうございました</div>
          </div>
        </div>

      </div>
    </div>

</div>
