<div class="main">
  <div class="mannaka">
    <%= render "/shared/myprofile" %>
    <%= render "/shared/head" %>
    <div class="title">
      <h6>My Profile</h6>
      <img src="<%= "/irasuto/panda.jpg" %>">
    </div>

    <div class="line__container">
      <div class="line__contents">
        <!-- 相手の吹き出し -->
        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">自己紹介をお願いします</div>
          </div>
        </div>
        <!-- 自分の吹き出し -->
        <div class="line__right">
          <div class="text">空前絶後のォォ！！！！超絶怒涛のプログラマァ！！！ "Error"を愛しッ！！"Error"に愛された男ォオオ！！！ "SyntaxError"、"NameError"、"TypeError"、すべてのError産みの親ァ！！！
            そう我こそはアァ ！！ オヤマコーーセﾝ！！ザイ!!ガクッ！！デンキデンシソウゾウコウガクコーーース！！！オオワダッ！カズヒロぉぉぉぉ！！イェェェエエエーーーーーイッ！！！ジャスティス！！！！！
          </div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">...クセがすごいんジャッッ<br>お笑い芸人にでもなるつもりなんか??</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">はい。ありがとうございました</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">和田アキ子</div>
            <div class="text">あなたは何をされてる方なの?</div>
          </div>
        </div>

        <div class="line__right">
          <div class="text">ﾊｲ,ﾜﾀｼﾊｵﾔﾏｺｳｾﾝﾃﾞﾃﾞﾝｷｶｲﾛﾔﾂｳｼﾝ,ﾃﾞﾝｼﾞｷ,ﾌﾟﾛｸﾞﾗﾐﾝｸﾞﾅﾄﾞﾃﾞﾝｷﾆｶﾝｽﾙﾌﾞﾝﾔｦﾍﾞﾝｷｮｳｼﾃｲﾏｽ.ｶﾞｯｺｳﾃﾞﾊﾌﾟﾛｸﾞﾗﾐﾝｸﾞｦｽﾙｷｶｲﾊｽｸﾅｲﾉﾃﾞｽｶﾞ
          ｼﾞﾌﾞﾝﾃﾞｳｪﾌﾞｻｲﾄｦﾂｸﾙｺﾄｶﾞｽｷﾅﾉﾃﾞｼﾞｶﾝｶﾞｱﾚﾊﾞﾄﾞｸｶﾞｸﾃﾞｳｪﾌﾞﾔﾃﾞｰﾀﾍﾞｰｽﾆｶﾝｽﾙﾍﾞﾝｷｮｳｦｼﾃｲﾏｽ</div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">...宇宙人にでも喉を乗っ取られてるんか??</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">はい。ありがとうございました</div>
          </div>
        </div>


        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">では,続きましてあなたの長所を教えてください</div>
          </div>
        </div>

        <div class="line__right">
          <div class="text">はい,私の長所は自分の初めたことを最後までやり通すことができることです.現在私はWebアプリケーションを作るための技術について日々勉強しています。
          Webアプリケーションについて勉強する中でいくつか自分でサイトを作ったりし技術力を高めてきましたが作成途中に調べても解説しない問題があったりし,なかなか思うように勉強が進まない日がありました。しかし,本やQiitaを参考に自力で問題を解決し１つずつ作品を作り上げることができました。このことは私の自信となり今勉強を続けられている原動力となっています。そのため私は初めたことは例え困難にぶつかったとしても自力で
          解決し作品を作り上げることができる自信があります。</div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">...普通に答えるなよ!!お笑いをせぇ</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">続きまして,短所を教えていただきたいのですが短所ばっかで行が長くなっちゃうと思うのですが大丈夫ですか〜〜？</div>
          </div>
        </div>


        <div class="line__right">
          <div class="text">そんなないわ!!</div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>


        <div class="line__right">
          <div class="text">はい,私の短所は２つあります。<br>1つめは行動を起こすまでに時間がかかってしまうことです。例えば明日はRailsの勉強をしようと決めていた場合,結局勉強し始めたのは３日後になってしまったりすることがあります。一度初めてしまえば継続して勉強をすることができるのですが,始めるまでに時間がかかってしまい無駄な時間を使ってしまうことが多々あります。<br>
          2つめは問題を解決できる方法が思いついたらそこで一度作業を中断してしまうことです。例えばエラーの原因が分かった時にすぐにコードを直すではなく一度休憩をとってから直してしまうことです。このことが原因で一度解決方法が思いついたのにもかかわらず忘れてしまい再び考え直すという二度手間が起こってしまったことがありました。以上の２つの短所は人と共同で作業をしていれば起こらないのですが一人だとどうしても気が抜けてしまい起きてしまいます。</div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>

        <div class="line__right">
          <div class="text">結構あるな...</div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>


        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">ありがとうございました~~w</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">続きまして,今頑張っていることを教えてください</div>
          </div>
        </div>

        <div class="line__right-right">
          <div class="text">私が今頑張っていることはですね〜〜〜〜</div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">...かぶっとるんじゃ!ちょっと待てぃ!!</div>
          </div>
        </div>

        <div class="line__right">
          <div class="text">はい,私は現在データベースを取り扱ってWebサイトを作ることを頑張っています。アプリケーション自体は主にRailsやDjangoで作成しています。勉強の仕方としては始めに作りたいものを考えそれを実現するためにはどのような機能が必要であるのかをQiitaを参考に調べながら作成しています。また安全なアプリケーションを作成すためにデータの取り扱い方やハッシュ,セキュリティー面,またログの出力の仕方などにも注意しながら作成しています。もう一つ頑張っていることとして継続力をつけることです。私は一度やめてしまうと再び始めるまでにかなりの時間がかかってしまうので継続力をつけるべく週6日(一日あたり8時間)勉強することを続けています。初めの頃は勉強をすることは苦痛でしたが自分のできることが増えるにつれ知識を高めることが楽しくなり今では楽しく勉強することができています。</div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">はい,ありがとうございました</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">続きまして,乗り越えた困難について教えてください</div>
          </div>
        </div>


        <div class="line__right">
          <div class="text">秋になるとクセェんだよな〜</div>
            <figure>
              <img src="<%= "/profile/top_image.jpg" %>">
            </figure>
        </div>


        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">それは銀杏じャッ!!</div>
          </div>
        </div>

        <div class="line__right">
          <div class="text">小さくなっても頭脳は同じ、迷宮なしの名探偵、真実はいつもひとつ！</div>
            <figure>
              <img src="<%= "/profile/top_image.jpg" %>">
            </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">それはコナンじャッ!!</div>
          </div>
        </div>

        <div class="line__right">
          <div class="text">まぁ,だいたいは迅悠一の艦隊で挑みますかねぇ〜〜</div>
            <figure>
              <img src="<%= "/profile/top_image.jpg" %>">
            </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">それはモンストのカナンじャッ!!</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">もうぇぇよ</div>
          </div>
        </div>

        <div class="line__right">
          <div class="text">乗り越えた困難としてプログラムのエラーが解決できずに１週間くらいQiitaや別のサイトで解決方法を探したことなどがありますが,一番大変だったことは学校のテストです。
            私は自頭がそこまで良くないので学校の授業や問題が理解できないことが多々ありました。そのためテスト期間は本当に地獄でテスト前日でも4時ぐらいまで勉強していました(テスト3週間前から勉強を初めていたので前日の詰め込みではありません)私一人で勉強をしていたらこの苦痛に耐えられなかったと思いますが同じ学科の友だちと放課後残ったりまた夜にはビデオ通話を１０人位でしながら勉強をしていたので年に４回のテストを５年間も耐えることができました。一緒に勉強してくれる仲間がいたからこそ耐えられたので友だちにはとても感謝しています。またこのテスト勉強から協力しながら頑張ることがどれほど大切なのかを学んだのでこの経験を活かして自分一人で追い込みすぎないように協力しながら作業をするように心がけたいと思います。</div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>


        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">はい,ありがとうございました</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">最後に,自己PRをお願いします</div>
          </div>
        </div>

        <div class="line__right">
          <div class="text">はい,私は初めたことを最後までやり通すことと,問題解決力,また自分の技術力を上げたいという向上心が強いので自分のような人に興味がありましたら連絡の程よろしくおねがいします</div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">はい,ありがとうございました</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">テレビ千鳥みてねぇ〜〜</div>
          </div>
        </div>

      </div>
    </div>

</div>
