<div class="main">
  <div class="mannaka">
    <%= render "/shared/myprofile" %>
    <%= render "/shared/head" %>
    <div class="title">
      <h6>My Profile</h6>
      <img src="<%= "/irasuto/panda.jpg" %>">
    </div>

    <div class="line__container">
      <div class="line__contents">
        <!-- 相手の吹き出し -->
        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">自己紹介をお願いします</div>
          </div>
        </div>
        <!-- 自分の吹き出し -->
        <div class="line__right">
          <div class="text">空前絶後のォォ！！！！超絶怒涛のプログラマァ！！！ "Error"を愛しッ！！"Error"に愛された男ォオオ！！！ "SyntaxError"、"NameError"、"TypeError"、すべてのError産みの親ァ！！！
            そう我こそはアァ ！！ オヤマコーーセﾝ！！ザイ!!ガクッ！！デンキデンシソウゾウコウガクコーーース！！！オオワダッ！カズヒロぉぉぉぉ！！イェェェエエエーーーーーイッ！！！ジャスティス！！！！！
          </div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">...クセがすごいんジャッッ<br>お笑い芸人にでもなるつもりなんか??</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">はい。ありがとうございました</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">和田アキ子</div>
            <div class="text">あなたは何をされてる方なの?</div>
          </div>
        </div>

        <div class="line__right">
          <div class="text">ﾊｲ,ﾜﾀｼﾊｵﾔﾏｺｳｾﾝﾃﾞﾃﾞﾝｷｶｲﾛﾔﾂｳｼﾝ,ﾃﾞﾝｼﾞｷ,ﾌﾟﾛｸﾞﾗﾐﾝｸﾞﾅﾄﾞﾃﾞﾝｷﾆｶﾝｽﾙﾌﾞﾝﾔｦﾍﾞﾝｷｮｳｼﾃｲﾏｽ.ｶﾞｯｺｳﾃﾞﾊﾌﾟﾛｸﾞﾗﾐﾝｸﾞｦｽﾙｷｶｲﾊｽｸﾅｲﾉﾃﾞｽｶﾞ
          ｼﾞﾌﾞﾝﾃﾞｳｪﾌﾞｻｲﾄｦﾂｸﾙｺﾄｶﾞｽｷﾅﾉﾃﾞｼﾞｶﾝｶﾞｱﾚﾊﾞﾄﾞｸｶﾞｸﾃﾞｳｪﾌﾞﾔﾃﾞｰﾀﾍﾞｰｽﾆｶﾝｽﾙﾍﾞﾝｷｮｳｦｼﾃｲﾏｽ</div>
          <figure>
            <img src="<%= "/profile/top_image.jpg" %>">
          </figure>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">ノブ</div>
            <div class="text">...宇宙人にでも喉を乗っ取られてるんか??</div>
          </div>
        </div>

        <div class="line__left">
          <figure>
            <img src="<%= "/profile/profile_icon.png" %>">
          </figure>
          <div class="line__left-text">
            <div class="name">面接官</div>
            <div class="text">はい。ありがとうございました</div>
          </div>
        </div>

      </div>
    </div>

</div>
