<div class="main">
  <div class="mannaka">
  <div class="cont">
    <div class="post-left">
      <div class="ue">
      <img src="<%= "/profile/top_image.jpg" %>">
      <h4 style="font-size:18px;font-weight:600;margin-top:2px;">Kazuhiro Owada</h4>
      <a href="https://twitter.com/Ochanyoroshiku" style="font-size:16px"><i class="fab fa-twitter size"></i></a><a href="https://www.instagram.com/o_style.ins" style="font-size:18px"><i class="fab fa-instagram size2"></i></a>
      <a href="https://github.com/Ochanyoro" style="font-size:18px"><i class="fa fa-github" aria-hidden="true"></i></a>
      <br>
      <div class="pro mt-2">
      <i class="fas fa-school" style="font-size:12px;"><font style="padding-left:7px;">小山高専</font></i><br>
      </div>
      <div class="pro">
      <i class="fas fa-address-book"><font style="padding-left:10px;">21 (1999)</font></i>
      </div>
      <div class="pro">
      <i class="fa fa-home" aria-hidden="true"><font style="padding-left:10px;">栃木県</font></i>
      </div>
      </div>
      <div class="sita">
      <div class="posts-index-item">
        <i class="fa fa-tags size3" aria-hidden="true"></i><font>studying now</font><br>
        <font class="study">ruby</font>
        <font class="study">Rails</font>
        <font class="study">python</font>
        <font class="study">django</font>
        <font class="study">flask</font>
        <font class="study">jquery</font>
        <font class="study">javascript</font>
        <font class="study">css</font>
        <font class="study">bootstrap</font>
        <font class="study">c</font>
        <font class="study">java</font>
        <font class="study">Kotlin</font>
        <font class="study">awt</font>
        <font class="study">AI</font>
        <font class="study">keras</font>
        <font class="study">TensorFlow</font>
        <font class="study">RNN</font>
        <font class="study">image2vec</font>
        <font class="study">word2vec</font>
        <font class="study">sql</font>
        <font class="study">CNN</font>
        <font class="study">DeepLearning</font>
      </div>
      </div>
    </div>
    <div class="post-right">
      <div class="sslick">
        <a href="<%= "/exam-step/1.png" %>" rel=lightbox><img src="<%= "/exam-step/1.png" %>" width="100%"></a>
        <a href="<%= "/exam-step/3.png" %>" rel=lightbox><img src="<%= "/exam-step/3.png" %>" width="100%"></a>
        <a href="<%= "/exam-step/7.png" %>" rel=lightbox><img src="<%= "/exam-step/7.png" %>" width="100%"></a>
        <a href="<%= "/recommend-song/1.png" %>" rel=lightbox><img src="<%= "/recommend-song/1.png" %>" width="100%"></a>
        <a href="<%= "/scheler/1.png" %>" rel=lightbox><img src="<%= "/scheler/1.png" %>" width="100%"></a>
        <a href="<%= "/scheler/7.png" %>" rel=lightbox><img src="<%= "/scheler/7.png" %>" width="100%"></a>
        <a href="<%= "/5toubun/1.png" %>" rel=lightbox><img src="<%= "/5toubun/1.png" %>" width="100%"></a>
        <a href="<%= "/5toubun/6.png" %>" rel=lightbox><img src="<%= "/5toubun/6.png" %>" width="100%"></a>
        <a href="<%= "/o-gle/1.png" %>" rel=lightbox><img src="<%= "/o-gle/1.png" %>" width="100%"></a>
        <a href="<%= "/robot/4.png" %>" rel=lightbox><img src="<%= "/robot/4.png" %>" width="100%"></a>
        <a href="<%= "/map/1.png" %>" rel=lightbox><img src="<%= "/map/1.png" %>" width="100%"></a>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="slider mypattern">
    <%= link_to("/home/top", {method: "get"}) do %>
      <img src="<%= "/header/1.jpg" %>">
    <% end %>
    <img src="<%= "/header/2.jpg" %>">
    <%= link_to("/home/profile", {method: "get"}) do %>
    <img src="<%= "/header/3.jpg" %>">
    <% end %>
    </div>
  </div>
  <div class="contaner2">
    <div class="sen">
      <font>作った作品(titleクリックでwebサイトへ)</font>
    </div>
  </div>
  <div class="contaner3-1">
    <div class="left">
      <div class="sslick">
        <a href="<%= "/exam-step/1.png" %>" rel=lightbox><img src="<%= "/exam-step/1.png" %>" width="100%"></a>
        <a href="<%= "/exam-step/2.png" %>" rel=lightbox><img src="<%= "/exam-step/2.png" %>" width="100%"></a>
        <a href="<%= "/exam-step/3.png" %>" rel=lightbox><img src="<%= "/exam-step/3.png" %>" width="100%"></a>
        <a href="<%= "/exam-step/4.png" %>" rel=lightbox><img src="<%= "/exam-step/4.png" %>" width="100%"></a>
        <a href="<%= "/exam-step/5.png" %>" rel=lightbox><img src="<%= "/exam-step/5.png" %>" width="100%"></a>
        <a href="<%= "/exam-step/6.png" %>" rel=lightbox><img src="<%= "/exam-step/6.png" %>" width="100%"></a>
        <a href="<%= "/exam-step/7.png" %>" rel=lightbox><img src="<%= "/exam-step/7.png" %>" width="100%"></a>
      </div>
    </div>
    <div class="right">
      <a href="https://exam-step.herokuapp.com/"><img src="<%= "/title/1.jpg" %>"></a>
      <div class="overview">
        <i class="fa fa-pencil size4" aria-hidden="true" style="font-size:20px;"></i><font size="1" style="padding-left:5px"><strong class="marker_line0">過去問(etc)を共有できるサイト</strong></font><br>
        <div class="pal" style="font-size:10px;font-weight:500">おすすめ度:<span class="star" data-rate="5.0"></span></div>
        <font size="1">学校にログインし、学科→教授→教科を選択することでその教授の雰囲気や教科の難易度などを知ることができるよ.また教科ごとに過去問や課題などを共有でき,わからない問題はリアルタイムのチャットで質問できるよ!</font><br>
        <i class="fa fa-file size5" aria-hidden="true"></i><font size="1" style="padding-left:5px"><strong class="marker_line1">機能</strong></font><br>
        <font class="study">Ruby on Rails</font>
        <font class="study">login(ハッシュ)</font>
        <font class="study">DB</font>
        <font class="study">ActiveStorage</font>
        <font class="study">s3</font>
        <font class="study">ActionCable</font>
        <font class="study">slick</font><br>
        <i class="fa fa-unlock-alt" aria-hidden="true"></i><font size="1" style="padding-left:5px"><strong class="marker_line1">テストアカウント</strong></font><br>
        <font size="1" style="font-weight:600">学校:Test</font>
        <font size="1" style="font-weight:600">パスワード:password</font>
      </div>
    </div>
  </div>

  <div class="contaner3">
    <div class="left">
      <div class="sslick">
        <a href="<%= "/recommend-song/1.png" %>" rel=lightbox><img src="<%= "/recommend-song/1.png" %>" width="100%"></a>
        <a href="<%= "/recommend-song/2.png" %>" rel=lightbox><img src="<%= "/recommend-song/2.png" %>" width="100%"></a>
        <a href="<%= "/recommend-song/3.png" %>" rel=lightbox><img src="<%= "/recommend-song/3.png" %>" width="100%"></a>
        <a href="<%= "/recommend-song/4.png" %>" rel=lightbox><img src="<%= "/recommend-song/4.png" %>" width="100%"></a>
        <a href="<%= "/recommend-song/5.png" %>" rel=lightbox><img src="<%= "/recommend-song/5.png" %>" width="100%"></a>
      </div>
    </div>
    <div class="right">
      <a href="https://recommend-song.herokuapp.com/"><img src="<%= "/title/2.jpg" %>"></a>
      <div class="overview">
        <i class="fa fa-pencil size4" aria-hidden="true" style="font-size:20px;"></i><font size="1" style="padding-left:5px"><strong class="marker_line0">聞いてこなかった曲を聞いてみよう</strong></font><br>
        <div class="pal" style="font-size:10px;font-weight:500">おすすめ度:<span class="star" data-rate="3.0"></span></div>
        <font size="1">おすすめ順に曲が並んでいるので今流行りの曲を見つけることができるよ.topページは曲名とコメントのみなので今まで聞いてこなかったジャンルを発掘できるかも!いいね機能や投稿機能もあるので
        自分のおすすめの曲も投稿してみよう。曲名をクリックするとyoutubeに飛ぶよ</font><br>
        <i class="fa fa-file size5" aria-hidden="true"></i><font size="1" style="padding-left:5px"><strong class="marker_line1">機能</strong></font><br>
        <font class="study">Ruby on Rails</font>
        <font class="study">devise</font>
        <font class="study">DB</font>
        <font class="study">s3</font>
        <font class="study">ActiveStorage</font>
        <font class="study">いいね</font>
        <font class="study">おすすめ度</font><br>
        <i class="fa fa-unlock-alt" aria-hidden="true"></i><font size="1" style="padding-left:5px"><strong class="marker_line1">テストアカウント</strong></font><br>
        <font size="1" style="font-weight:600">メールアドレス:test@test.com</font><br>
        <font size="1" style="font-weight:600">パスワード:password</font>
      </div>
    </div>
  </div>

  <div class="contaner3">
    <div class="left">
      <div class="sslick">
        <a href="<%= "/scheler/1.png" %>" rel=lightbox><img src="<%= "/scheler/1.png" %>" width="100%"></a>
        <a href="<%= "/scheler/2.png" %>" rel=lightbox><img src="<%= "/scheler/2.png" %>" width="100%"></a>
        <a href="<%= "/scheler/3.png" %>" rel=lightbox><img src="<%= "/scheler/3.png" %>" width="100%"></a>
        <a href="<%= "/scheler/4.png" %>" rel=lightbox><img src="<%= "/scheler/4.png" %>" width="100%"></a>
        <a href="<%= "/scheler/5.png" %>" rel=lightbox><img src="<%= "/scheler/5.png" %>" width="100%"></a>
        <a href="<%= "/scheler/6.png" %>" rel=lightbox><img src="<%= "/scheler/6.png" %>" width="100%"></a>
        <a href="<%= "/scheler/7.png" %>" rel=lightbox><img src="<%= "/scheler/7.png" %>" width="100%"></a>
        <a href="<%= "/scheler/8.png" %>" rel=lightbox><img src="<%= "/scheler/8.png" %>" width="100%"></a>
        <a href="<%= "/scheler/9.png" %>" rel=lightbox><img src="<%= "/scheler/9.png" %>" width="100%"></a>
      </div>
    </div>
    <div class="right">
      <img src="<%= "/title/3.jpg" %>">
      <div class="overview">
        <i class="fa fa-pencil size4" aria-hidden="true" style="font-size:20px;"></i><font size="1" style="padding-left:5px"><strong class="marker_line0">グループでカレンダーを共有しよう</strong></font><br>
        <div class="pal" style="font-size:10px;font-weight:500">おすすめ度:<span class="star" data-rate="4.5"></span></div>
        <font size="1">予定をグループの人と共有できるよ.知られたくない予定は個人用に入れて置くことでグループの人に見られないようにできるよ!
          グループに入っておくことでそのグループ内すべての人の予定を見れるようになるよ.レイアウトが下手くそですみません</font><br>
        <i class="fa fa-file size5" aria-hidden="true"></i><font size="1" style="padding-left:5px"><strong class="marker_line1">機能</strong></font><br>
        <font class="study">django</font>
        <font class="study">python</font>
        <font class="study">DB</font>
        <font class="study">AbstractUser</font>
        <font class="study">allauth</font>
        <font class="study">エクセル読み込み</font>
        <font class="study">カレンダー</font>
      </div>
    </div>
  </div>

  <div class="contaner3">
    <div class="left">
      <div class="sslick">
        <a href="<%= "/5toubun/1.png" %>" rel=lightbox><img src="<%= "/5toubun/1.png" %>" width="100%"></a>
        <a href="<%= "/5toubun/2.png" %>" rel=lightbox><img src="<%= "/5toubun/2.png" %>" width="100%"></a>
        <a href="<%= "/5toubun/3.png" %>" rel=lightbox><img src="<%= "/5toubun/3.png" %>" width="100%"></a>
        <a href="<%= "/5toubun/4.png" %>" rel=lightbox><img src="<%= "/5toubun/4.png" %>" width="100%"></a>
        <a href="<%= "/5toubun/5.png" %>" rel=lightbox><img src="<%= "/5toubun/5.png" %>" width="100%"></a>
        <a href="<%= "/5toubun/6.png" %>" rel=lightbox><img src="<%= "/5toubun/6.png" %>" width="100%"></a>
        <a href="<%= "/5toubun/7.png" %>" rel=lightbox><img src="<%= "/5toubun/7.png" %>" width="100%"></a>
      </div>
    </div>
    <div class="right">
      <img src="<%= "/title/4.jpg" %>">
      <div class="overview">
        <i class="fa fa-pencil size4" aria-hidden="true" style="font-size:20px;"></i><font size="1" style="padding-left:5px"><strong class="marker_line0">画像の検索エンジンを使ってみよう</strong></font><br>
        <div class="pal" style="font-size:10px;font-weight:500">おすすめ度:<span class="star" data-rate="3.5"></span></div>
        <font size="1">5等分の花嫁のキャラクターのおすすめ動画を画像を用いて検索できるよ♪　画像がない人は文字でも検索できる機能付き.AIを用いることで画像からそれぞれのキャラクターを区別することができる<br>
        ...ただ,正確性は良い方ではないので白黒の写真などで期待してる結果が出ないこともあります。すみません</font><br>
        <i class="fa fa-file size5" aria-hidden="true"></i><font size="1" style="padding-left:5px"><strong class="marker_line1">機能</strong></font><br>
        <font class="study">flask</font>
        <font class="study">python</font>
        <font class="study">DB</font>
        <font class="study">login</font>
        <font class="study">AI</font>
        <font class="study">CNN</font>
      </div>
    </div>
  </div>

  <div class="contaner3">
    <div class="left">
      <div class="sslick">
        <a href="<%= "/o-gle/1.png" %>" rel=lightbox><img src="<%= "/o-gle/1.png" %>" width="100%"></a>
        <a href="<%= "/o-gle/2.png" %>" rel=lightbox><img src="<%= "/o-gle/2.png" %>" width="100%"></a>
        <a href="<%= "/o-gle/3.png" %>" rel=lightbox><img src="<%= "/o-gle/3.png" %>" width="100%"></a>
      </div>
    </div>
    <div class="right">
      <img src="<%= "/title/5.jpg" %>">
      <div class="overview">
        <i class="fa fa-pencil size6" aria-hidden="true" style="font-size:20px;"></i><font size="1" style="padding-left:2px"><strong class="marker_line0">これで大丈夫!ローマ字を日本語に変換</strong></font><br>
        <div class="pal" style="font-size:10px;font-weight:500">おすすめ度:<span class="star" data-rate="3.0"></span></div>
        <font size="1">つい検索エンジンにローマ字のまま打ってしまうことってありますよね.こんなとき日本語に変換してくれる機能があればなぁ~って思ったことがある人も多いと思います.
        そこでローマ字を日本語に変換できる機能を作成しました。ローマ字を打ってしまったら「日本語に変換」をクリック!!</font><br>
        <i class="fa fa-file size5" aria-hidden="true"></i><font size="1" style="padding-left:5px"><strong class="marker_line1">機能</strong></font><br>
        <font class="study">flask</font>
        <font class="study">python</font>
      </div>
    </div>
  </div>
  <div class="contaner3-2">
    <div class="left">
      <div class="sslick">
        <a href="<%= "/robot/1.png" %>" rel=lightbox><img src="<%= "/robot/1.png" %>" width="100%"></a>
        <a href="<%= "/robot/2.png" %>" rel=lightbox><img src="<%= "/robot/2.png" %>" width="100%"></a>
        <a href="<%= "/robot/3.png" %>" rel=lightbox><img src="<%= "/robot/3.png" %>" width="100%"></a>
        <a href="<%= "/robot/4.png" %>" rel=lightbox><img src="<%= "/robot/4.png" %>" width="100%"></a>
      </div>
    </div>
    <div class="right">
      <img src="<%= "/title/6.jpg" %>">
      <div class="overview">
        <i class="fa fa-pencil size4" aria-hidden="true" style="font-size:20px;"></i><font size="1" style="padding-left:2px"><strong class="marker_line0">ロボットの動きを見てみよう</strong></font><br>
        <div class="pal" style="font-size:10px;font-weight:500">おすすめ度:<span class="star" data-rate="1.0"></span></div>
        <font size="1">学校の授業でオドメトリ動作モデルや速度動作モデルを学んだのですが実際はどのような軌道でロボットが動くのかを目で見て確認したかったので動きを見れるプログラムを作ってみました
        </font><br>
        <i class="fa fa-file size5" aria-hidden="true"></i><font size="1" style="padding-left:5px"><strong class="marker_line1">機能</strong></font><br>
        <font class="study">java</font>
        <font class="study">awt</font>
      </div>
    </div>
  </div>
  <div class="contaner3-2">
    <div class="left">
      <div class="sslick">
        <a href="<%= "/map/1.png" %>" rel=lightbox><img src="<%= "/map/1.png" %>" width="100%"></a>
      </div>
    </div>
    <div class="right">
      <img src="<%= "/title/7.jpg" %>">
      <div class="overview">
        <i class="fa fa-pencil size4" aria-hidden="true" style="font-size:20px;"></i><font size="1" style="padding-left:2px"><strong class="marker_line0">地図を作ってみよう!</strong></font><br>
        <div class="pal" style="font-size:10px;font-weight:500">おすすめ度:<span class="star" data-rate="1.0"></span></div>
        <font size="1">グーグルマップから緯度,経度情報を読み取りそれをExcelにまとめファイルを読み込むことによって地図を作成してみました。
        </font><br>
        <i class="fa fa-file size5" aria-hidden="true"></i><font size="1" style="padding-left:5px"><strong class="marker_line1">機能</strong></font><br>
        <font class="study">java</font>
        <font class="study">awt</font>
      </div>
    </div>
  </div>
  </div>
</div>
