<div class="header">
  <div class="slider mypattern">
  <%= link_to("/home/firm", {method: "get"}) do %>
    <img src="<%= "/header/1.jpg" %>">
  <% end %>
  <%= link_to("/home/top", {method: "get"}) do %>
    <img src="<%= "/header/4.jpg" %>">
  <% end %>
  <%= link_to("/home/my_work", {method: "get"}) do %>
    <img src="<%= "/header/2.jpg" %>">
  <% end %>
  <%= link_to("/home/profile", {method: "get"}) do %>
    <img src="<%= "/header/3.jpg" %>">
  <% end %>
  </div>
</div>
